img{
    margin: auto;    
    display: block;
} 
h2,h6, #answer {
    margin: 0,auto; 
    text-align: center;
}

.heightSize {
    height: 80px;
}

.container {
    padding: 30px;
   
}

div {
    padding-top: 10px;
}

